<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Angular - Introduction</title>

        <link rel="stylesheet" href="css/reveal.css">
        <link rel="stylesheet" href="css/theme/black.css">
        <link rel="stylesheet" href="css/custom.css">

        <!-- Theme used for syntax highlighting of code -->
        <link rel="stylesheet" href="lib/css/zenburn.css">

        <!-- Printing and PDF exports -->
        <script>
            // var link = document.createElement('link');
            // link.rel = 'stylesheet';
            // link.type = 'text/css';
            // link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
            // document.getElementsByTagName('head')[0].appendChild(link);
        </script>
        <style>
        .custom-image {
          background-color: transparent !important; 
          border: none !important; 
          box-shadow: none !important;
        }</style>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                    <p><img src="https://angular.io/assets/images/logos/angular/angular.svg" style="width: 250px;" class="custom-image" alt="Angular"></p>
                    <p class="fragment">A platform and framework for building client applications in HTML and TypeScript.</p>
                </section>  
                    
                <section>
                  <p>NgModules </p>
                  <p class="fragment">- the basic building blocks of Angular</p>
                  <p class="fragment">- provide a compilation context for components</p>
                    <pre class="fragment">
                        <code data-trim class="hljs javascript ">
import { NgModule } from '@angular/core';

@NgModule({
    imports: [...],
    declarations: [...]
    exports: [...],
    providers: [...]
})
export class AppModule { }
                        </code>
                    </pre>
                </section>

                <!-- Angular components -->

                <section>
                    <section>
                    <p>Components</p>
                    <p class="fragment">- combination of an HTML template and a component class that controls a portion of the screen<br>
                    - class, decorator, metadata<br />
                    - defined views<br />
                    - use services</p>
<pre class="fragment">
    <code data-trim class="hljs javascript ">
import { Component } from '@angular/core';

@Component({
    selector: 'ngt-component',
    template: `
        <h1>Hello {{ name }}</h1>
    `,
    providers: [...]
})
export class NgtComponent { 
    // Use protected so that the property is accessible from html
    protected name = 'Angular';
}
    </code>
</pre>
                    </section>

                    <section>
                        <p>Templates, directives, and data binding</p>
                        <p class="fragment">- combines HTML with Angular markup that can modify the HTML elements before they are displayed</p>
                        <p class="fragment">- Event binding lets your app respond to user input</p>
                        <p class="fragment">- Property binding lets you interpolate values that are computed from your application data into the HTML</p>
                    </section>

                    <section>
                        <p>Interpolation</p>
                        <pre class="fragment">
                            <code data-trim class="hljs javascript ">
import { Component } from '@angular/core';

@Component({
  selector: 'ngt-component',
  template: `
    <h1>{{ title }}</h1>
    <h2>My favorite car is: {{ myCar }}</h2>
    `
})
export class NgtComponent {
  protected title = 'Cars';
  protected myCar = 'Mercedes';
}
                            </code>
                        </pre>
                    </section>

                    <section>
                        <p>Property binding</p>
                        <pre class="fragment">
                            <code data-trim class="hljs javascript ">
import { Component } from '@angular/core';

@Component({
  selector: 'ngt-component',
  template: `
    <h2>My favorite car is 
        <span [innerHTML]="favoriteCar"></span>
    </h2>
    `
})
export class NgtComponent {
  protected favoriteCar = 'Mercedes';
}
                            </code>
                        </pre>
                    </section>

                    <section>
                        <p>Event binding</p>
                        <pre class="fragment">
                            <code data-trim class="hljs javascript ">
import { Component } from '@angular/core';

@Component({
  selector: 'ngt-component',
  template: `
    <button (click)="notify()">My button</button>
    `
})
export class NgtComponent {
  
  protected notify(): void {
    console.log("The button was clicked")
  }
}
                            </code>
                        </pre>
                    </section>

                    <section>
                        <p>Two way data binding (banana in the box)</p>
                        <pre class="fragment">
                            <code data-trim class="hljs javascript ">
import { Component } from '@angular/core';

@Component({
    selector: 'ngt-component',
    template: `
        <input [(ngModel)]="username" />
    `
})
export class NgtComponent {
  
  protected username = 'Test';
}
                            </code>
                        </pre>
                    </section>

                    <section>
                        <p>Recap</p>
                        <ul>
                            <li>Javascript code can be used in the html using interpolation {{ ... }}</li>
                            <li>We can bind to DOM node properties (and not only) using square brakets [value]</li>
                            <li>Binding to DOM events (and not only) can be achieved through round brakets (click)</li>
                            <li>Two way data binding can be achieved by combinding square and round brakets (banana in the box) [(ngModel)]</li>
                        </ul>
                    </section>
                </section>

                <!-- Inter-component communication -->
                <section>
                    <section>
                        <p> Inter-component communication </p> <br />
                        <p> - @Input and @Output properties </p>
                        <p> - Using a parent component as a mediator </p>
                        <p> - Using an injectable service as a mediator </p>
                    </section>

                    <section>
                        <p> @Input and @Output properties </p> <br />
                        <p> Think of a component as a black box with entry and exit doors </p>
                        <p> Properties marked as @Input() are used for getting data from the parent component </p>
                        <p> Properties marked as @Output() are used for sending events (and data) from a component </p>
                    </section>

                    <section>
                        <pre class="fragment">
                            <code data-trim class="hljs javascript ">
@Component({
    selector: 'ngt-parent',
    template: `
        <ngt-child [renderInformation]="data"></ngt-child>
    `
})
export class ParentComponent {
    protected data = { a: 'test', b: 'data' };
}

@Component({
    selector: 'ngt-child',
    template: `
        {{ renderInformation.a + renderInformation.b }}
    `
})
export class ChildComponent {
    @Input() renderInformation: { a: string, b: string };
}
                            </code>
                        </pre>
                    </section>

                    <section>
                        <pre class="fragment">
                            <code data-trim class="hljs javascript ">
@Component({
    selector: 'ngt-parent',
    template: `
        <ngt-child (click$)="logEvent($event)"></ngt-child>
    `
})
export class ParentComponent {
    protected logEvent(event): void {
        console.log(event); // I have been clicked
    }
}

@Component({
    selector: 'ngt-child',
    template: `
        <button (click)="click$.emit('I have been clicked')">
            Click me
        </button>
    `
})
export class ChildComponent {
    @Ouptut() click$ = new EventEmitter();
}
                            </code>
                        </pre>
                    </section>

                    <section>
                        <p>The Mediator acts as a man in the middle</p>
                        <p>A component A sends the data to a mediator, which passes the data to a component B</p>
                        <p>Component A and Component B don’t know about each other A parent component can mediate siblings’ communications</p>
                        <p>An injectable service can mediate communication between any components</p>
                    </section>

                    <section>
                        <p>Component as a mediator</p>
                        <img src="img/component_as_mediator.png" alt="" class="custom-image">
                    </section>

                    <section>
                        <p>Service as a mediator</p>
                        <img src="img/service_as_mediator.png" alt="" class="custom-image">
                    </section>

                    <section>
                        <p>Recap</p>
                        <ul>
                            <li>Components receive data from their parents via @Input() properties.</li>
                            <li>Components send data to their parents by emiting data through their @Output() properties.</li>
                            <li>The mediator pattern helps us achieve inter-component communication through a loosely-coupled manner.</li>
                            <li>Using injectable services is the most flexible way of inter-component communication.</li>
                        </ul>
                    </section>
                </section>

                <!-- Content projection -->

                <section>
                    <section>
                        <p>Content projection</p>
                        <ul>
                            <li>It is used for passing HTML elements or Angular components to a child component</li>
                            <li>In order for the fragments to be rendered to the DOM, an &lt;ng-content&gt; tag will be used as a placeholder in the child where the actual content should be projected</li>
                        </ul>
                    </section>

                    <section>
                        <pre>
                            <code data-trim class="hljs javascript ">
@Component({
    selector: 'ngt-parent',
    template: `
        <h2>This is from the parent component</h2>
        <ngt-child>
            <div>Parent projects this element into the child</div>
            <ngt-data-component></ngt-data-component>
        </ngt-child>
    `
})
export class ParentComponent { }
                            </code>
                        </pre>

                        <pre>
                            <code data-trim class="hljs javascript ">
@Component({
    selector: 'ngt-child',
    template: `
        <h2>This is from the child component</h2>
        <ng-content></ng-content>
    `
})
export class ChildComponent { }
                            </code>
                        </pre>
                    </section>

                    <section>
                        <p>Multiple content projections</p>
                        <p>The "select" attribute allows the use of multiple targeted <br /> &lt;ng-content&gt; tags </p>
                        <p>It's an actual css selector, so any selector can be used: class, attribute, id, element</p>
                    </section>

                    <section>
                        <pre>
                            <code data-trim class="hljs javascript ">
@Component({
    selector: 'ngt-parent',
    template: `
        <h2>This is from the parent component</h2>
        <ngt-child>
            <span content-type="title">Title</span>
            <span content-type="description">Some description</span>
            <span content-type="generalInformation">General info</span>
        </ngt-child>
    `
})
export class ParentComponent { }


@Component({
    selector: 'ngt-child',
    template: `
        <h1>
            <ng-content select="[content-type=title]"></ng-content>
        </h1>
        <div>
            <ng-content select="[content-type=generalInformation]">
            </ng-content>
        </div>
        <div>
            <ng-content select="[content-type=description]">
            </ng-content>
        </div>
    `
})
export class ChildComponent { }
                            </code>
                        </pre>
                    </section>

                    <section>
                        <p>Recap</p>
                        <ul>
                            <li>We can project content to a child component by using the &lt;ng-content&gt;</li>
                            <li>We can have multiple content projection by adding a select attribute to the &lt;ng-content&gt;</li>
                        </ul>
                    </section>
                </section>

                <!-- Directives -->

                <section>
                    <section>
                        <p>Directives</p>
                        <ol>
                          <li>A class annotated with @Directive()</li>
                          <li>Can't have it's own UI (HTML markup)</li>
                          <li>It can be attached to an HTML element (native element or component)</li>
                          <li>Structural directives—change the DOM layout by adding and removing DOM elements. (*ngFor, *ngIf, *ngSwitch)</li>
                          <li>Attribute directives—change the appearance or behavior of an element, component, or another directive.(ngClass, ngStyle)</li>
                        </ol>
                    </section>

                    <section>
                        <p>*ngIf</p>
                        <pre>
                            <code data-trim class="hljs javascript">
@Component({
    selector: 'ngt-example',
    template: `
        <div *ngIf="showDetails">
            <h2>Details section</h2>
        </div>
        <button (click)="showDetails = !showDetails">
            Toggle details
        </button>
    `
})
export class ExampleComponent { 
    protected showDetails = false;
}
                            </code>
                        </pre>
                    </section>

                    <section>
                        <p>*ngFor</p>
                        <pre>
                            <code data-trim class="hljs javascript">
@Component({
    selector: 'ngt-example',
    template: `
        <ul>
            <li *ngFor="let product of products">
                {{ product.name }}
            </li>
        </ul>
    `
})
export class ExampleComponent { 
    protected products = [ 
        { name: 'product1' }, 
        { name: 'product2' }, 
        { name: 'product3' } 
    ];
}
                            </code>
                        </pre>
                    </section>

                    <section>
                        <p>*ngSwitch</p>
                        <pre>
                            <code data-trim class="hljs javascript">
@Component({
    selector: 'ngt-example',
    template: `
        <div [ngSwitch]="country">
            <div *ngSwitchCase="'DE'"> ... </div>
            <div *ngSwitchCase="'SE'"> ... </div>
            <div *ngSwitchCase="'FI'"> ... </div>
        </div>
    `
})
export class ExampleComponent { 
    @Input() country = null;
}
                            </code>
                        </pre>
                    </section>
  
                    <section>
                      <p>Description of an attribute directive</p>
  <pre>
    <code data-trim class="hljs javascript">
import { Directive, ElementRef, HostListener, Input  } from '@angular/core';

@Directive({
  selector: '[appHighlight]'
})
export class HighlightDirective {
    @Input() highlightColor: string;

    constructor(private el: ElementRef) { }

    @HostBinding('class.red') red = true;

    @HostListener('mouseenter') onMouseEnter() {
        this.highlight('yellow');
    }

    @HostListener('mouseleave') onMouseLeave() {
        this.highlight(null);
    }

    private highlight(color: string) {
        this.el.nativeElement.style.backgroundColor = color;
    }
}</code>
  </pre>
                    </section>
                    <section>
                        <p>Usage of an attribute directive</p>
                        <pre>
                            <code data-trim class="hljs javascript">                    
<p appHighlight>Highlight me!</p>

<ngt-component appHighlight>Highlight me!</ngt-component>
                            </code>
                        </pre>
                    </section>
                  </section>

                <!-- Pipes -->

                <section>
                    <section>
                        <p>Pipes</p>
                        <p>They are functions that help us process data in the template (HTML)</p>
                    </section>

                    <section>
                        <pre>
                            <code data-trim class="hljs javascript">
import { Pipe, PipeTransform } from '@angular/core';

/*
  * Returns '-'' if the data is null or undefined
  * Usage:
  *   value | emptyValue
  * Example:
  *   {{ undefined | emptyValue }}
  *   formats value to: '-'
*/
@Pipe({name: 'emptyValue'})
export class EmptyValueFormatterPipe implements PipeTransform {
  transform(value: any): string {
    if (value != null && !value.isUndefined && value !== 'null') {
      return value;
    } else {
      return '-';
    }
  }
}                    
                            </code>
                        </pre>
                    </section>

                    <section>
                        <pre>
                            <code data-trim class="hljs javascript">
import { Pipe, PipeTransform } from '@angular/core';

@Component({
    selector: 'ngt-example',
    template: `
        <h2> {{ username | emptyValue }} </h2>
    `  
})  
export class ExampleComponent {
    protected username = null;
}                
                            </code>
                        </pre>
                    </section>
                </section>
            
                <!-- Services and dependency injection -->
                
                <section>
                    <section>
                        <p>Services and Dependency Injection</p>
                        <ul>
                            <li>Don’t instantiate classes with the new operator</li>
                            <li>Angular creates and injects services into components, directives or other services</li>
                            <li>Angular can create and inject values into variables</li>
                        </ul>
                    </section>

                    <section>
                        <ul>
                            <li>We can inject services into components, directives or services using the constructor</li>
                            <li>In order to inject a service / value, angular needs to have that defined in the providers section in a module/component</li>
                        </ul>
                    </section>

                    <section>
                        <pre>
                            <code data-trim class="hljs javascript ">
@NgModule({
    providers: [{ 
        provide: ListApiService,
        useClass: ListApiService
    }]
})
class AppModule { }

// short hand
@NgModule({
    providers: [ListApiService]
})
class AppModule { }
                            </code>
                        </pre>

                        <pre>
                            <code data-trim class="hljs javascript ">
@NgModule({
    providers: [{ 
        provide: ListApiService,
        useClass: MockedApiService
    }]
})
class AppModule { }
                            </code>
                        </pre>
                    </section>

                    <section>
                        <pre>
                            <code data-trim class="hljs javascript ">
import { Injectable } from '@angular/core';

// @Injectable(provideIn: 'root')
@Injectable()
export class ListApiService { 
    ...
}
                            </code>
                        </pre> 
    
                        <pre>
                            <code data-trim class="hljs javascript ">
import { Component } from '@angular/core';

@Component({
  selector: 'ngt-component',
  template: ``
})
export class AppComponent {
    constructor(private listApiService: ListApiService) { }
}
                            </code>
                        </pre>
                    </section>

                    <section>
                        <p>@Inject() decorator</p>
                        <p>Allows us to specify the token type</p>
                        <pre>
                            <code data-trim class="hljs javascript ">
import { Component, Inject } from '@angular/core';

@Component({
  selector: 'ngt-component',
  template: ``
})
export class AppComponent {
    constructor(@Inject(ListApiService) private listApiService) { }
}
                            </code>
                        </pre>
                    </section>

                    <section>
                        <pre>
                            <code data-trim class="hljs javascript ">
import { Component, Inject, InjectionToken } from '@angular/core';

export const BACKEND_URI = new InjectionToken('BackendUri');   

@Component({
  selector: 'ngt-component',
  template: ``,
  providers: [{ provide: BACKEND_URI, useValue: 'qa-server.com' }]
})
export class AppComponent {
    constructor(@Inject(BACKEND_URI) private uri) { }
}
                            </code>
                        </pre>
                    </section>
                </section>

                <!-- The big picture -->

                <section>
                    <p>The big picture</p>
                    <img src="https://angular.io/generated/images/guide/architecture/overview2.png" alt="" class="custom-image">
                </section>

                <section>
                    <p>Routing</p>
                    <p>- service that lets you define a navigation path among the different application states and view hierarchies in your app</p>
                    <p>- lazy-loading</p>
                    <p>- guards, resolvers</p>
                  </section>     
                  

                <section>
                    <p>Display an array property with *ngFor</p>
                    <pre class="fragment">
                    <code data-trim class="hljs javascript ">
export class AppComponent {
  carModels = ['A180', 'B180', 'B200', 'C200', 'E220', 'S180'];
  myFavouriteModel = this.models[4];
}
                        </code>
                    </pre>
                    <pre class="fragment">
                        <code data-trim class="hljs javascript ">
template: `
    <h2>My favorite Mercedes is {{myFavouriteCar}}</h2>
    <p>List</p>
    <ul>
    <li *ngFor="let model of models">
        {{ model }}
      </li>
    </ul> `
                        </code>
                    </pre>
                </section>

                <section>
                    <p>Creating a class for the data</p>
                    <pre class="fragment">
                        <code data-trim class="hljs javascript ">
export class Product {
  constructor(public id: number, public name: string) { }
}
                        </code>
                    </pre>
                    <p class="fragment">Using the <i>Product</i> class</p>
                    <pre class="fragment">
                        <code data-trim class="hljs javascript ">
products = [
  new Product(1, 'Product #1'),
  new Product(2, 'Product #2'),
  new Product(3, 'Product #3'),
  new Product(4, 'Product #4')
  new Product(5, 'Product #5');
  new Product(6, 'Product #6');
];
myFavoriteProduct= this.products[4];
                        </code>
                    </pre>
                </section>

                <section>
                    <p>Using the Product class in template</p>
                    <pre class="fragment">
                        <code data-trim class="hljs javascript">
template: `
    <h2>My favorite product is: {{myFavouriteProduct.name}}</h2>
    <p>Products:</p>
    <ul>
    <li *ngFor="let product of products">
      {{ product.id }} - {{ product.name }}
    </li>
  </ul>
`
                        </code>
                    </pre>
                </section>

                <section>
                    <p>Conditional display with *ngIf</p>
                    <pre class="fragment">
                        <code data-trim class="hljs javascript">
template: `
    <p *ngIf="products.length > 3">There are many products!</p>
`
                        </code>
                    </pre>
                </section>

                <section>
                    <p>Conditional adding css class on element</p>
                    <pre class="fragment">
                    <code data-trim class="hljs javascript">
template: `
    <ul>
        <li *ngFor="let product of products" [ngClass]="{'highlight-css-class-name': product.name == 'Product #1'}">
        {{ product.id }} - {{ product.name }}
        </li>
    </ul>
`
                        </code>
                    </pre>
                </section>

                <section>
                    <h3>User Input</h3>
                </section>

                <section>
                    <p>Binding to user input events</p>
                    <pre class="fragment">
                    <code data-trim class="hljs javascript">
@Component({
  selector: 'click-me',
  template: `
    <button (click)="onClickMe()">Show my faourite product</button>
    {{clickMessage}}`
})
export class ClickMeComponent {
  clickMessage = '';
  onClickMe() {
    this.clickMessage = 'My favourite product is Product #1!';
  }
}

                        </code>
                    </pre>
                </section>

                <section>
                    <p>Get user input from the $event object</p>
                    <pre class="fragment">
                        <code data-trim class="hljs javascript">
template: `
    <input (keyup)="onKey($event)">
    <p>{{values}}</p>
`
                        </code>
                    </pre>
                    <pre class="fragment">
                        <code data-trim class="hljs javascript">
export class KeyUpComponent {
  values = '';
  onKey(event: any) { 
    this.values = event.target.value;
  }
}
                        </code>
                    </pre>
                </section>

                <section>
                    <p>Get user input from a template reference variable</p>
                    <pre class="fragment">
                    <code data-trim class="hljs javascript">
@Component({
  selector: 'my-app',
  template: `
                    <input #box (keyup)="0">
                    <p>{{box.value}}</p>
  `
})
export class LoopbackComponent { }
                        </code>
                    </pre>
                </section>

                <section>
                    <p>Key event filtering (with key.enter)</p>
                    <pre class="fragment">
                        <code data-trim class="hljs javascript">
@Component({
  selector: 'my-app',
  template: `
    <input #box (keyup.enter)="onEnter(box.value)">
    <p>{{value}}</p>
  `
})
export class KeyUpComponent {
  value = '';
  onEnter(value: string) { this.value = value; }
}

                        </code>
                    </pre>
                </section>

                <section>
                    <h3>COMPONENT STYLES</h3>
                </section>

                <section>
                    <p>Using Component Styles</p>
                    <pre class="fragment">
                        <code data-trim class="hljs javascript">
@Component({
  selector: 'my-app',
  template: `
    <h1>Cars</h1>
    `,
  styles: ['h1 { font-weight: normal; color: red; }']
})
export class CarAppComponent {
/* . . . */
}

                        </code>
                    </pre>
                </section>

                <section>
                    <p>Template Inline Styles</p>
                    <pre class="fragment">
                    <code data-trim class="hljs javascript">
@Component({
  selector: 'product-controls',
  template: `
    <style>
        button {
            background-color: white;
            border: 1px solid black;
        }
    </style>
    <h3>Products</h3>
    <button (click)="selectFavorite()">Select favorite</button>
  `
})

                        </code>
                    </pre>
                </section>

                <section>
                    <p>Style URLs in Metadata</p>
                    <pre class="fragment">
                    <code data-trim class="hljs javascript">
@Component({
  selector: 'car-details',
  template: `
    <h2>{{car.id}}</h2>
    <h2>{{car.name}}</h2>
  `,
  styleUrls: ['app/car-details.component.css']
})
export class CarDetailsComponent {
/* . . . */
}
                        </code>
                    </pre>
                </section>

                <section>
                    <h3>Lifecycle Hooks</h3>
                    <a href="https://angular.io/guide/lifecycle-hooks#lifecycle-sequence">https://angular.io/guide/lifecycle-hooks#lifecycle-sequence</a>
                </section>

                <section>
                    <p>Angular calls lifecycle hook methods on directives and components as it creates, changes, and destroys them</p>
                </section>

                <section>
                    <p>
                        Each interface has a single hook method whose name is the interface name prefixed with ng.
                        For example, the <i>OnInit</i> interface has a hook method named <i>ngOnInit</i> that Angular calls shortly after creating the component
                    </p>
                    <pre class="fragment">
                    <code data-trim class="hljs javascript">
export class CarComponent implements OnInit {
    // implement OnInit's `ngOnInit` method
    ngOnInit() { 
        console.log("On init car component"); 
    }
}
                        </code>
                    </pre>
                </section>

                <section>
                    <p>
                        The <i>OnChanges</i> interface has a hook method named <i>ngOnChanges</i>
                    </p>
                    <pre class="fragment">
                    <code data-trim class="hljs javascript">
export class CarComponent implements OnChanges {
    ngOnChanges() { 
        console.log("On change car component"); 
    }
}
                        </code>
                    </pre>
                </section>

                <section>
                    <p class="fragment">Change Detection (CD)</p>
                    <ul>
                        <li class="fragment">CD is about updating the view whenever the underlying model changes </li>
                        <li class="fragment">CD is implemented in the library zone.js </li>
                        <li class="fragment">When async event happens in your browser’s app, CD starts checking components and updates the views </li>
                        <li class="fragment">CD runs unidirectionally from the root of the component tree to each leaf </li>
                        <li class="fragment">Each component has its own change detector that checks if the values in its template expressions (e.g. {{prodTitle}} or [prodId]="productId") has changed.</li>
                    </ul>
                </section>

                <section>
                    <p>CD strategies: Default vs OnPush</p>
                    <p style="font-size: 0.7em;">changeDetection: ChangeDetectionStrategy.OnPush</p>
                    <img style="height: 300px;" src="./img/CD_1.png" />
                    <p style="font-size: 0.7em;">With OnPush strategy the Zone won’t check a component unless the reference of the value bound to its @Input properties change. </p>
                </section>

                <section>
                    <p>CD strategies: Default vs OnPush</p>
                    <img style="height: 300px;" src="./img/CD_2.png" />
                    <p style="font-size: 0.7em;">A change in GrandChild1 will cause change detection in all components shown with blue background. </p>
                </section>
</div>
        </div>

        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.js"></script>

        <script>
            // More info https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                history: true,

                // More info https://github.com/hakimel/reveal.js#dependencies
                dependencies: [
                    {src: 'plugin/markdown/marked.js'},
                    {src: 'plugin/markdown/markdown.js'},
                    {src: 'plugin/notes/notes.js', async: true},
                    {src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                            hljs.initHighlightingOnLoad(); }}
                ]
            });
        </script>
    </body>
</html>

